shortread/reads/
shortread/results/*
!shortread/results/.gitkeep
shortread/logs/*
!shortread/logs/.gitkeep
!shortread/logs/slurm/
!shortread/logs/slurm/.gitkeep
shortread/benchmarks/*
!shortread/benchmarks/.gitkeep
.snakemake
__pycache__/
.DS_Store
*.py[cod]
*.nbc
*.nbi
